body{
font-family: "Poppins", sans-serif;
font-size: 16px;
background: #FFFFFF;
color: #22343D;
font-weight: 400;
}

ul, li{
    list-style-type: none;
}

.logo{
    width: 40px;
    height: 36px;
}

.btn-singup, .btn{
    background-color: #02897A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}

.btn{
    font-weight: 700;
    font-size: 16px;
}
.btn-singin {
    background-color: #BCD0E5;
    color: #173A56;
    font-weight: 700;
    font-size: 16px;
}

.spn{
    font-weight: 700;
    font-size: 30px;
}

.navigation{
    list-style-type: none;
}

.navigation a{
    text-decoration: none;
    color: #22343D;
    font-weight: 400;
    font-size: 16px;
}

.navigation a:active{
    font-weight: 600;
}

.navigation .link-active{
    font-weight: 600;
}

.hero h1{
    font-weight: 700;
    font-size: 40px;
}

.hero p{
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.hero-actions a{
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.hero-actions a:active{
    text-decoration: underline;
}

.hero .hero-img{
    width: 610px;
    height: 555px;
}

.features h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;

}

.features h3{
    font-weight: 600;
    font-size: 22px;
}

.features p{
    font-weight: 400;
    font-size: 16px;
}

.list li{
    list-style-type: none;
}

.management h2{
    font-weight: 600;
}

.management .spn{
    font-weight: 700;
    font-size: 32px;
}

.management h3{
    font-size: 16px;
    font-weight: 600;
}

.management p{
    font-weight: 400;
    font-size: 16px;
}

.customer_support h2{
    font-weight: 600;
    font-size: 16px;
}

.customer_support .spn{
    font-weight: 700;
    font-size: 32px;
}

.customer_support ul img{
    width: 35px;
    height:35px;
}

.customer_support h3{
    font-size: 16px;
    font-weight: 600;
}
.customer_support p{
    font-weight: 400;
    font-size: 16px;
}

.collaborative h2{
    font-weight: 600;
    font-size: 16px;
}

.collaborative .spn{
    font-weight: 700;
    font-size: 32px;
}

.collaborative p{
    font-weight: 400;
    font-size: 16px;
}

.quick_easy_process h2{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

.quick_easy_process-p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.quick_easy_process .btn{
    text-align: cent
}

.contents_strategy h2{
    font-weight: 700;
    font-size: 32px;
}

.spn-strategy{
    font-weight: 700;
    font-size: 16px;
}

.text-strategy{
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #22343D;
}

.text-strategy:active{
    color: #02897A;

}

.text-strategy:hover {
    color: #02897A;

}

.price-table h2{
    font-weight: 700;
    font-size: 34px;
}

.table-status{
    font-weight: 700;
    font-size: 24px;
}

.price{ /*Незнаю як зробити тільки цифру тільки бо бере цілий текст*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;

}
/* Далі уже пізніше дороблю) */
